<div class="container">
  <h2 class="bg-light mt-3 py-1">TODOリスト</h2>
  <%= form_with url: "/todos" do |f| %>
    <div class="form-row">
      <div class="form-group col-sm-9">
        <%= f.label :task, "タスク" %>
        <%= f.text_field :task, class: "form-control" %>
      </div>
    </div>
    <%= f.submit "追加", class: "btn btn-primary mb-3" %>
  <% end %>

  <div class="table-responsive">
    <table class="table table-hover" id="todoList">
      <thead>
        <tr>
          <th>ID</th>
          <th>タスク内容</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @todos.each do |todo| %>
          <th><%= "#{todo.id}" %></th>
          <th><%= "#{todo.task}" %></th>
          <th>削除</th>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
